<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Edit A Current Pokemon</h1>
    <form action="/pokemon/<%= pokemon._id %>?_method=put" method="post">
        <input type="text" name="name" placeholder="Name of Pokemon" value="<%= pokemon.name %>" />
        <input type="text" name="type" placeholder="Type of Pokemon" value="<%= pokemon.type %>" />
        <input type="submit" value="Add Pokemon to Pokedex" />
    </form>
    <a href="/pokemon"><button>Go Back To HQ</button></a>
</body>
</html>